@import '../../style/sass/mixins';

@include style-reset-a-li;

.products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    & .product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 3px 1px 14px 0px lightgray;
    border-radius: 0.6em;
    & .product-image-container{
        & img{
            border-radius: 0.4em;
        }
    }
    & .product-info{
        padding: 1em;
        text-align: center;
        & h5{
            font-weight: 500;
        }
        & .product-price{
            margin: 0;
            font-weight: 400;
            font-size: 1.2em;
        }
    }
    & .product-rating{
        & i{
            color:gold;
            font-size: small;
        }
    }
    }
    & .cart-button-container{
        width: 100%;
        & .cart-button{
        display: flex;
        justify-content: space-evenly;
        margin-top: 1em;
        width: 100%;
        height: 2em;
        border: 1px solid black;
        border-radius: 1em;
            & .cart-icon-container{
                padding: 0.3em;
                width: 2em;
                & i{
                    font-size: 1.2em;
                }
            }
            & .cart-text-container{
                padding: 0.2em;
                & p{
                    font-weight: 600;
                    font-size: 1em;
                }
            }
            &:hover{
                cursor: pointer;
                box-shadow: inset #dcdcdc 1px 2px 5px;
            }
        }
    }
    & .wish-button-container{
        width: 100%;
        & .cart-button{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 2em;
        border: 1px solid black;
        border-radius: 1em;
        background-color: rgba(0, 0, 0, 0.873);
            & .cart-icon-container{
                padding: 0.3em;
                width: 2em;
                & i{
                    font-size: 1.2em;
                    color: white;
                }
            }
            & .cart-text-container{
                padding: 0.2em;
                & p{
                    font-weight: 600;
                    font-size: 1em;
                    color: rgb(255, 255, 255);
                }
            }
            &:hover{
                cursor: pointer;
                box-shadow: inset #dcdcdc46 1px 2px 5px;
            }
        }
    }    
}
