.ew-main-div{
    text-align: center;
    width: 90%;
    height: 15em;
    margin: auto;
    margin-top: 3em;
    & .ew-text{
        font-size: 3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
    }
}