.error-container{
    margin: 0 auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
     & h1, p{
        font-size: 50px;
     }
    
}