@import '../../style/sass/variables';

.header{
  max-width: 100%;
  box-shadow: 5px 5px 20px gray;
}
.top-nav-row div{
  display: inline-block;
}
.brand{
  color: white;
  margin-left: 2%;
  padding: 0.8em;
  width: 23%;
}
.inp-container{
  & input{
  display: inline-block;
  width: 75%;
  height: $element-height;
  }
  & button{
  width: 10%;
  height: $element-height;
  border: none;
  background-color: #dadada;
  }
}
.dropdown{
  width: 15%;
}
.select-btn{
  height: $element-height;
  border: none;
  background-color: #dadada;
  font-weight: 600;
}
.login-container{
  width: 15%;
  color: white;
  text-align: right;
  margin: 1.7em 0 0 0;
  & i,h5{
  display: inline-block;
  }
  & a{
  text-decoration: none;
  color: white;
  }
}
.user-icon{
  margin-right: 0.4em;
  padding: 0.2em;
  font-size: $icon-font;
}
.cart-wishlist{
  width: 7%;
  margin-top: 1.7em;
  margin-left: 0.5em;
  & a:first-child{
  margin-right: 1.2em;
  }
  & .list-icon{
  position: relative;
  color: white;
  font-size: $icon-font;
  list-style-type: none;
  display: inline-block;
    & .wish-item-count{
        border-radius: 50%;
        background-color: rgb(255, 0, 179);
        position: absolute;
        height: 1em;
        width: 1em;
        left: 75%;
        top: -12%;
        text-align: center;
        line-height: 90%;
        & p{
          font-size: 0.8em;
          font-weight: 600;
          color: black;
        }
      } 
    & .cart-item-count{
      border-radius: 50%;
      background-color: gold;
      position: absolute;
      height: 1em;
      width: 1em;
      left: 75%;
      top: -12%;
      text-align: center;
      line-height: 90%;
       & p{
        font-size: 0.8em;
        font-weight: 600;
        color: black;
       }
    }
  }
}