.fc-main-div{
    text-align: center;
    width: 70%;
    margin: auto;
    & .cart-item-card{
        img{
            height: 13em;
            border-radius: 0.5em;
        }
        & .cart-item-details{
            text-align: left;
            & .cart-item-name{
                font-size: 1.4em;
            }
            & .cart-item-price{
                float: right;
                & span{
                    font-size: 1.5em;
                }
            }
            span{
                font-weight: 600;
                font-size: large;
            }
        }
    }
    & .cart-summary{
        height: fit-content;
        border-radius: 2em;
        background-color: aliceblue;
        text-align: start;
        & span{
            display: block;
            color: rgb(78,78,78);
            margin: 1em 0;
        }
        & h2{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        & .summary-total{
            color: black;
            font-weight: 550;
        }
    }
}