.product-details-container{
    margin: auto;
    padding: 1em;
    & .product-img-container{
        text-align: right;
        & img{
            height: 25em;
            border-radius: 1em;
        }
    }
    & .product-info{
        padding-left: 3em;
        & .product-name{
            font-size: 2.7em;
            font-weight: 700;
            margin-right: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        & .rating-container{
            & i{
                color: gold;
            }
        }
        & .product-price{
            font-size: 1.3em;
            font-weight: 500;
            color: gray;
            & .price{
                font-size: 1.6em;
                font-weight: 600;
                color: black;
            }
        }
        & .product-description{
            font-size: 1.5em;
            font-weight: 600;
        }
        & .cart-button{
            width: 30%;
            height: 3em;
            & .cart-icon-container{
                display: inline-block;
                text-align: center;
                margin-right: 1em;
                & i{
                    font-size: 1.2em;
                }
            }
            & .cart-text-container{
                display: inline-block;
                text-align: center;
                & p{
                    font-size: 1.3em;
                    font-weight: 500;
                }
            }
        }
    }
}
