.fw-main-div{
    text-align: center;
    width: 70%;
    margin: auto;
    & .wish-item-card{
        img{
            height: 13em;
            border-radius: 0.5em;
        }
        & .wish-item-details{
            text-align: left;
            & .wish-item-name{
                font-size: 1.4em;
            }
            & .wish-item-price{
                float: right;
                & span{
                    font-size: 1.5em;
                }
            }
            span{
                font-weight: 600;
                font-size: large;
            }
        }
    }
}